.district_card{
    width: 225px;
    height: 185px;
    padding: 10px;
    background-color: honeydew;
    display: grid;
    grid-row-gap: 5px;
    box-shadow: 0px 0px 12px 1px grey;
}
.state_card{
    width: 150px;
    height: 100px;
    padding: 10px;
    background-color: honeydew;
    box-shadow: 0px 0px 12px 1px grey;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: auto;
}
.heading{
    display: grid;
    grid-template-columns: repeat(2,auto);
    align-items: center;
    padding: 10px;
    background-color: honeydew;
    width: 100%;
    position: fixed;
    box-shadow: 0px 0px 12px 1px grey;
}
.header1{
    display: flex;
    justify-content: space-around;
}
.header2{
    display: flex;
    justify-content: center;
}
.search_bar{
    width: 230px;
    height: 26px;
}
.pointerhand{
    display: none;
}
.dot{
    display: none;
}